{% extends 'layout.html' %}

{% block stylesheets %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/common1.css' %}">
{% endblock stylesheets %}


{% block content %}
    <h2 id="user-heading">User Login Form</h2>
    <form method="post" class="user-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p id="user-p">If you don't have an account you can register: <a href="{% url 'users:register' %}">Register</a></p>
    <a href="{% url 'blog:home' %}" id="return">Return back to home</a>
{% endblock content %}
