{% extends 'layout.html' %}

{% block stylesheets %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/common1.css' %}">
{% endblock stylesheets %}



{% block content %}
    <h2 id="user-heading">User Logout Form</h2>
    <p id="user-p">Are you sure want to logout</p>
    <form method="post" class="user-form">
        {% csrf_token %}
        <button type="submit">logout</button>
    </form>
    <a id="return" href="{% url 'blog:home' %}">return back to home</a>
{% endblock content %}