{% extends 'layout.html' %}

{% block stylesheets %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
{% endblock stylesheets %}

{% block content %}
  
<div class="container">
    <h2 class="heading">Delete Post</h2>
    <form method="post" class="form-container">
        {% csrf_token %}
        <p id="container-text">Are you sure want to delete the post?</p>
        <button type="submit">Delete post</button>
    </form>
    <div class="footer">
        <a href="{% url 'blog:home' %}" class="return">return back to home</a>
    </div>
</div>

{% endblock content %}
