{% extends 'layout.html' %}

{% block stylesheets %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock stylesheets %}

{% block content %}
<div class="post-controls">
    <div>
        <a href="{% url 'blog:create_post' %}">create_post</a>
        <a href="{% url 'blog:create_category' %}">create_category</a>
    </div>
    <form method="get">
        <label for="category">Filter by category:</label>
        <select name="category" id="category">
            <option value="">All</option>
            {% for category in categories %}
            <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %} selected{% endif %}>
                {{ category.name }}
            </option>
            {% endfor %}
        </select>
        <button type="submit">Search</button>
    </form>
    
</div>
<div class="post-list">
    {% for post in posts %}
    <div class="post-card">
        <div class="post-header">
            <h3>@ {{ post.author }}</h3>
        </div>
        {% if post.image %}
        <div class="post-body">
            <div class="post-img">
                <img src="{{ post.image.url }}" alt="{{ post.image }}">
            </div>
            <div class="post-content">
                <p>{{ post.content }}</p>
            </div>
        </div>
        {% endif %}
        {% if user.is_authenticated and post.author == request.user %}
        <div class="post-footer">
            <a href="{% url 'blog:update_post' post.id %}">
                <img src="{% static '/images/update.png' %}" alt="update" class="icon-img">
            </a>
            <a href="{% url 'blog:delete_post' post.id %}">
                <img src="{% static '/images/delete.png' %}" alt="delete" class="icon-img">
            </a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock content %}