#user-heading {
    text-align: center;
    color: rgb(222, 16, 16);
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}

input{
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 10px;
}

.user-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
}

#user-p {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 1.3rem;
}

#user-p a {
    text-decoration: none;
    font-size: 1.2rem;
    color: blue;
}

#return {
    padding: 10px 15px;
    color: rgb(40, 40, 207);
    background-color: rgb(200, 239, 24);
    border-radius: 10px;
    font-weight: bold;
}
