{% extends 'layout.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/room.css' %}">
{% endblock stylesheets %}

{% block title %}
- room
{% endblock title %}

{% block content %}

<div class="container">
    <div class="room-chat">
        <div class="room-content">
            <div class="options">
                <div id="back-btn">
                    <a href="{% url 'home' %}">⟵</a>
                </div>
                <div class="update-delete">
                    {% if request.user.is_authenticated and request.user == room.host %}
                    <div id="update">
                        <a href="{% url 'update_room' room.id %}">
                            <img src="{% static 'images/update-icon.png' %}" alt="update" title="update">
                        </a>
                    </div>
                    <div id="delete">
                        <a href="{% url 'delete_room' room.id %}">
                            <img src="{% static 'images/delete.png' %}" alt="delete" title="delete">
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="room">
                {% if room %}
                    <h2 id="room-title">{{ room.name }}</h2>
                    <p id="room-author">
                        <strong>Author:</strong> {{ room.host.username }}
                    </p>
                    <p id="created-time">
                        <strong>Created:</strong> {{ room.created|date:"F j, Y, g:i a" }}
                    </p>
                    <p id="room-info">
                        <strong>Room description:</strong>
                        {% if room.information %}
                            {{ room.information }}
                        {% else %}
                            Not provided
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="room-conversation">
            <h2>Conversation</h2>

            <div class="conversations">
                {% for message in room_messages %}
                    <div class="chat">
                        <h5>
                            @<a href="{% url 'profile_view' message.user.id %}">{{ message.user }}</a>
                        </h5>
                        <p>
                            {{ message.chat }}<br>
                            <small>
                                {% if message.updated %}
                                    by {{ message.updated|timesince }} ago
                                {% else %}
                                    just now
                                {% endif %}
                            </small>
                        </p>
                        {% if request.user.is_authenticated and request.user == message.user %}
                            <a href="{% url 'delete_message' message.id %}">
                                <img src="{% static 'images/delete.png' %}" alt="delete" title="delete">
                            </a>
                            <a href="{% url 'update_message' message.id %}">
                                <img src="{% static 'images/update-icon.png' %}" alt="update" title="update">
                            </a>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>No messages right now!</p>
                {% endfor %}
            </div>

            <div class="chat-form">
                <form method="post" class="form-control">
                    {% csrf_token %}
                    <div class="form-chat">
                        <input type="text" name="chat" id="chat" placeholder="Type your message here..." required>
                        <button type="submit">
                            <img src="{% static 'images/send.png' %}" alt="send">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="participants-list">
        <h2>Room Participants</h2>
        <span class="counter">Number of participants: {{ participants_count }}</span>
        {% for participant in participants %}
            <div class="participants">
                <h4>
                    <a id="participant-links" href="{% url 'profile_view' participant.id %}">{{ participant.username }}</a>
                </h4>
            </div>
        {% empty %}
            <p>No participants yet. Be the first one to start the conversation.</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}
